aside nav ul {
    list-style-type: none;
}

aside nav ul a {
    color: inherit;
    text-decoration: none;
}

aside nav ul li {
    background-color: grey;
    display:flex;
    align-items:center;
    padding: 10px;
}

aside nav ul li i {
    color: white;
    margin-right: 15px;
}